*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #001422;
  font-family: 'Montserrat', sans-serif;
  color: white;
  min-height: 100vh;
}

.circle{
    position: relative;
    border-radius: 100%;

}

.circle-1 {
    height: 120px;
    width: 120px;
    background-image: radial-gradient(69.62% 69.62% at 50% 50%, #ea8bfa 0%, #7526f5 100%);
    left: -12%;
  }

  .circle-2 {
    height: 360px;
    width: 360px;
    background-image: radial-gradient(63.76% 63.76% at 50% 50%, #ff00c7 0%, #bd95ff 0.01%, #a661ff 32.29%, #6100ff 98.59% );
    left: 20%;
  }

  .circle-3 {
    height: 220px;
    width: 220px;
    background-image: radial-gradient( 67.47% 67.47% at 50% 50%, #fed0ff 0%, #7f00ff 100% );
    left: -10%;
  }

  .card{
    width: 400px;
    height: 520px;
    position: absolute;
    background-image: linear-gradient(148deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }